# Template konfigurasi Firebase
# Salin file ini menjadi .env.local dan isi dengan nilai asli Anda
# File env.example INI AMAN untuk masuk ke git (tidak berisi nilai asli)

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
